.conversation-block {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    border: 2px solid blue;
    width: 300px;
    margin-right: 10px;
    border-bottom: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .conversation-header {
    color: white;
    padding: 11px;
    background-color: blue;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  .close-icon {
    color: black;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 25px;
    cursor: pointer;
  }
  .close-block {
    bottom: -378px;
  }
  .conversation-list-block {
    height: 380px;
    overflow: auto;
  }
  .conversation-list-item {
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .conversation-list-item:hover {
    background: lightblue;
  }
  .profile-image {
    height: 12%;
    width: 12%;
    float: left;
    border-radius: 50%;
    padding: 5px;
    padding-right: 10px;
  }
  .user-name {
    font-size: 19px;
  }
  .conversation-list-message {
    padding: 5px;
    font-size: 14px;
  }
  
  /* chatscreen.js */
  .chat-close-icon {
    color: white;
    position: absolute;
    right: 5px;
    top: 8px;
    font-size: 25px;
    cursor: pointer;
  }
  .chat-screen-block {
    display: flex;
    bottom: 0px;
    right: 0px;
    position: fixed;
    right: 325px;
    margin: 0px;
    list-style: none;
    flex-direction: row-reverse;
  }
  .chat-screen-block-item {
    background-color: white;
    border: 2px solid blue;
    width: 290px;
    margin-right: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 0px;
  }
  .chat-block {
    height: 280px;
    overflow: auto;
    background: #2046f50d;
  }
  .chat-screen-collapse-block {
    bottom: -319px;
    position: relative;
  }
  .chat-user-profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
  }
  .chat-user-name {
    margin-left: 40px;
  }
  .display-messages {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
  }
  .display-messages-item-customer {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    width: 50%;
  }
  .display-messages-item-agent {
    margin: auto;
    margin-right: 8px;
    padding: 5px;
    width: auto;
    text-align: right;
    width: 50%;
  }
  .message-item-agent {
    background: lightblue;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
  }
  .message-item-customer {
    background: lightblue;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
  }
  .chat-message-input-block {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .chat-message-input {
    padding: 5px;
    margin: 5px;
    width: 80%;
    border: none;
  }
  
  .chat-screen-block-all {
    bottom: 0px;
    position: fixed;
    right: 325px;
    margin: 0px;
    list-style: none;
  }
  
  .multiple-chat-block {
    display: flex;
    flex-direction: column;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    right: 935px;
  }
  .multiple-chat-item {
    margin: 5px;
    color: white;
    padding: 11px;
    background-color: blue;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    display: flex;
  }
  